body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#nav{
  background: linear-gradient(to right, #8F0a0a, #f25353, #F61919);
}

a, .dir{
  color: whitesmoke !important
}

p.dir{
  text-align: right;
  padding-right: 15px;
}

a.menu{
  color: #F61919 !important;
}

.navbar{
  border-top-color: whitesmoke;
  border-bottom-color: whitesmoke;
  border-bottom-style: double;
  border-top-style: double;
}

div#imgnav{
  background-image: url("/img/nav.png");
  background-repeat: no-repeat;
  background-position: center;
}

div.rosa{
  background-color: #FFF0F0;
  margin-top: 50px;
  padding: 0 15px;
}

h1, h3{
  font-weight: bold;
  text-align: center;
  font-style: italic;
  margin-bottom: 25px !important;
}

h2{
  color: #707070;
}

div.blanco{
  margin-top: 50px;
  padding: 0 15px;
}

div.clearfix {
  clear:both;
}

div.logo{
  width: 40%;
  text-align: center; 
  margin-bottom: 15px;
}

div.seccion{
  width: 25%;
  float: left;
}

#footer{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.seccion>a>h3{
  color: #F61919;
  font-style: italic;
  font-size: medium;
}

.seccion>p{
  color: #707070;
  font-size: small;
}

p.info{
  text-align: justify;
  padding-top: 10px;
}

img.info{
  width: 100%;
}

@media (min-width: 1024px) {
  div.blanco, div.rosa{
    justify-content: center;
    display: flex;
    align-items: center;
  }

  div.seccion{
    width: 15%;
    float: left;
    color: #F61919;
  }

  div.logo{ 
    float: left;
  }

  img.info {
    width: 30%;
    height: auto;
    margin: 30px;
  }

  p.info {
    width: 70%;
    text-align: justify;
  }
}