body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#nav{
  background: linear-gradient(to right, #8F0a0a, #f25353, #F61919);
}

a{
  color: whitesmoke !important
}

a#menu{
  color: #F61919 !important;
}

div#imgnav{
  background-image: url("/img/nav.png");
  background-repeat: no-repeat;
  background-position: center;
}

div#cards{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 80px;
}

div#card{
  background-color: #F61919;
  height: 50px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

p#card{
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  margin: 0 auto;
}

div#marcas{
  background-color: #FFF0F0;
  margin-top: 30px;  
}

h1{
  font-weight: bold;
  text-align: center;
  font-style: italic;
  margin-bottom: 25px !important;
}