* {
	margin-right: 0px !important;
	margin-left: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand {
	width: 200px !important;
	height: 77px !important;
}
.navbar-brand img {
	width: 200px !important;
	height: 77px !important;
}
.rosa#marcas {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}
.marginFix .hidden {
	display: none;
}

html {
	scroll-behavior: smooth;
}

#mapa {
	margin-top: 17px;
	width: 90%;
}

[id] {
	scroll-margin-top: 150px;
}

div#nav {
	background: linear-gradient(to right, #8f0a0a, #f25353, #f61919);
}

a,
.dir {
	color: whitesmoke !important;
}

p.dir {
	text-align: right;
}

a.menu {
	color: #f61919 !important;
}

.navbar {
	border-top-color: whitesmoke;
	border-bottom-color: whitesmoke;
	border-bottom-style: double;
	border-top-style: double;
}

div#imgnav {
	background-image: url("/img/nav.png");
	background-repeat: no-repeat;
	background-position: center;
}

div#cards {
	padding-left: 5% !important;
	padding-right: 5% !important;
	padding-top: 80px;
}

div#card {
	background-color: #f61919;
	height: 50px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 20px 20px;
}

div.card {
	margin-left: 10px !important;
	margin-right: 10px !important;
	border: none;
	border-radius: 30px;
	justify-content: center !important;
}

.brands img {
	border: none;
	border-radius: 30px;
	width: 150px;
	height: 150px;
}
.brands {
	width: 150px;
	height: 150px;
}

p#card {
	color: whitesmoke;
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
	margin: 0 auto !important;
}

div.rosa {
	background-color: #fff0f0;
	margin-top: 50px;
	padding: 0 !important;
}

h1 {
	font-weight: bold;
	text-align: center;
	font-style: italic;
	margin-bottom: 25px !important;
}

h2 {
	color: #707070;
}

div.blanco {
	margin-top: 50px;
	padding: 0 15px !important;
}

p#nosotros {
	text-align: justify;
	padding-top: 10px;
}

img#nosotros {
	width: 100%;
}

iframe {
	width: 100%;
	height: auto;
}

div#hr {
	padding: 15px !important;
}

div#local {
	float: left;
	width: 50%;
}

div#vet {
	float: right;
	width: 50%;
}

div.clearfix {
	clear: both;
}

div.logo {
	width: 40%;
	text-align: center;
	margin-bottom: 15px;
}

div.seccion {
	width: 25%;
	float: left;
}

#footer {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block;
}

.seccion > a > h3 {
	color: #f61919;
	font-style: italic;
	font-size: medium;
}

.seccion > p {
	color: #707070;
	font-size: small;
}
#contactoIndex h1 {
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
}

#my-form input {
	width: 26.5vw;
	border-radius: 6px;
}

#my-form label {
	font-size: 20px;
}
#my-form textarea {
	height: 200px;
	width: 92.5vw;
	border-radius: 6px;
	resize: none;
}
#my-form-button {
	background-color: #f61919;
	color: white;
	height: 70px;
	width: 26.5vw;
	border: solid;
	font-size: 32px;
}

@media (min-width: 1024px) {
	div.blanco {
		justify-content: center;
	}

	img#nosotros {
		width: 30%;
		height: auto;
		float: left;
	}

	p#nosotros {
		width: 70%;
		float: right;
		padding-left: 10px !important;
		padding-top: 30px;
	}

	div#mapa {
		width: 50%;
		border: none;
		padding: 0 15px !important;
	}

	div#datos {
		background-color: #fff0f0;
		width: 50%;
		float: right;
	}

	iframe {
		width: 600px;
		height: 450px;
	}

	div#ubi {
		height: 480px;
	}

	div.seccion {
		width: 15%;
		float: left;
		color: #f61919;
	}

	div.logo {
		float: left;
	}
	#contactoIndex h1 {
		font-size: 60px;
		font-style: italic;
		font-weight: bold;
	}

	#my-form label {
		font-size: 32px;
	}
	#my-form textarea {
		height: 200px;
		width: 92.5vw;
		border-radius: 6px;
		resize: none;
	}
	#my-form-button {
		background-color: #f61919;
		color: white;
		height: 70px;
		width: 26.5vw;
		border: solid;
		font-size: 32px;
	}

	div.card {
		margin-left: 20px !important;
		margin-right: 20px !important;
	}

	.brands img {
		width: 300px;
		height: 300px;
	}
	.brands {
		width: 300px;
		height: 300px;
	}
}
